.card {
    margin:auto;   
    margin-top: 10vh;    
}

.login-container {   
    text-align: center;
    button {
        width: 200px;
        align-self: flex-end;
    }
    height: 350px;
text-align: center;
display: flex;
justify-content: center;
}