<div class="app-login">
    <div>
        <div class="card text-right" style="width: 18rem;">
            <div class="card-body">             
              <div  class="login-container" >
                <button type="button"  (click)="login()" class="btn btn-success">Start Login </button>
              </div>
              <!-- <button type="button" (click)="login()" class="btn btn-pill btn-success">Login</button> -->              
            </div>
          </div>        
    </div>
</div>
<!-- <app-redirect></app-redirect> -->