<div class="department-settings">
<app-department-stats></app-department-stats>
<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-body cw-mat-tab-group p-0">
                <mat-tab-group>
                    <mat-tab label="Departments" class="px-3" >                                                                     
                    <app-departments-list></app-departments-list>
                    </mat-tab>
                    <mat-tab label="User Roles"> Content 2 </mat-tab>
                    <mat-tab label="Admin Roles"> Content 3 </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</div>
</div>