.user-roles-list { 
    .mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
        color: #a8a8aa;       
    }

    
::ng-deep mat-form-field {
    .mat-form-field-wrapper {
        margin:0;
        padding-bottom: 0;
    }
    }
}