.stat-val {   
    font-weight: bold;
    font-size: 22px;
}
.cart-title {
    font-size: 15px;
    font-weight: bold;
}
.dept-title {
    font-size: 22px;
    font-weight: 600;
}
.stat-label {
    font-size: 15px;
    font-weight: 600;
}