<p>Departments</p>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Stats</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                    content is a little longer.</p>
                    <div class="row">
                        <div class="col-3">
                            <label for="">Departments</label>
                        </div>
                        <div class="col-3">
                            <label for="">Admins</label>
                        </div>
                        <div class="col-3">
                            <label for="">Roles</label>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Help</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                    content is a little longer.</p>
               
            </div>
        </div>
    </div>
</div>
