<mat-tab-group>
    <mat-tab label="Complaints" >
        <div class="container" >
            <div>
                    <div>
                        <table  class="example-large-box mat-elevation-z4">
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Token ID:</span></div>
                                    <div class="col-8">11111</div>
                                    
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Request ID:</span></div>
                                    <div class="col-8">2323</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Transaction Status:</span></div>
                                    <div class="col-8">Pending</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Complaints:</span></div>
                                    <div class="col-8">charge Gone</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                  <div class="col-4"><span>Before CarWash Picture</span></div>
                                  <div class="col-8"><img src="{{bcpic}}"> </div>
                                </div>
                              </tr>
                              <tr>
                                <div class="row">
                                  <div class="col-4"><span>After CarWash Picture</span></div>
                                  <div class="col-8"><img src="{{acpic}}"></div>
                                </div>
                              </tr>
                        </table>
                    </div> 
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Customer Details">
        <div class="container" >
            <div>
                    <div>
                        <table  class="example-large-box mat-elevation-z4">
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Name:</span></div>
                                    <div class="col-8">kalyan</div>
                                    
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Ph NO:</span></div>
                                    <div class="col-8">9393939393</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Car Type:</span></div>
                                    <div class="col-8">Sedan</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Services:</span></div>
                                    <div class="col-8"></div>
                                </div> 
                            </tr>
                            
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Slot Details:</span></div>
                                    <div class="col-8"> start time 11am, end time 12pm</div>
                                </div> 
                            </tr>
                        </table>
                    </div> 
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vendor Details">
        <div class="container" >
            <div>
                    <div>
                        <table  class="example-large-box mat-elevation-z4">
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Service Centre Name:</span></div>
                                    <div class="col-8">Automobiles</div>
                                    
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Name:</span></div>
                                    <div class="col-8">Rajveer</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Ph NO:</span></div>
                                    <div class="col-8">9594227892</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Aadress:</span></div>
                                    <div class="col-8"></div>
                                </div> 
                            </tr>
                        </table>
                    </div> 
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Rider Details">
        <div class="container" >
            <div>
                    <div>
                        <table  class="example-large-box mat-elevation-z4">
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Name:</span></div>
                                    <div class="col-8">Rajveer</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Ph NO:</span></div>
                                    <div class="col-8">9594227892</div>
                                </div> 
                            </tr>
                            <tr>
                                <div class="row">
                                    <div class="col-4"><span>Aadress:</span></div>
                                    <div class="col-8"></div>
                                </div> 
                            </tr>
                        </table>
                    </div> 
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Feedbacks">
        <div class="container">
            <mat-card>
                <div>
                    FeedBack 1
                </div>
                <div>
                    FeedBack 2
                </div>
                <div>
                    FeedBack 3
                </div>
            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>