<h4 class="dept-title">Departments</h4>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">At a Glance</h5>
                <div class="row text-center mt-3">
                    <div class="col-4">
                        <h5 class="stat-label">Departments</h5>
                        <div class="stat-val">10</div>
                    </div>
                    <div class="col-4">
                        <h5 class="stat-label">Admins</h5>
                        <div class="stat-val">10</div>
                    </div>
                    <div class="col-4">
                        <h5 class="stat-label">Roles</h5>
                        <div class="stat-val">10</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-3">
        <mat-card class="px-0">
            <mat-card-content>
                <h4 class="px-2">Help</h4>
                <mat-divider></mat-divider>
                <div class="d-flex flex-column p-2">
                    <a class="pt-1" routerLink="/settings/departments">Daily Sales</a>
                    <a class="pt-1" routerLink="/settings/departments">Selling Services</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>