.add-user-roles {
::ng-deep mat-card-header{
    .mat-card-header-text{
        margin:0;
    }
}
.permissions {
    ::ng-deep mat-label {
        min-width: 300px;
        display: inline-block;
        font-size: 12px;
        &.heading {
            font-weight: 600;
            font-size:15px
        }
    }
    ::ng-deep mat-list-item {
        border-bottom: 1px solid #bcbcbc;
    }    
}
::ng-deep mat-form-field {
    // Hidden by default
    mat-error{
    display: none;
    }
  
   mat-error:first-child {
    display: block;
  }  
  &.mat-form-filed-sm {         
    font-size: 7px;
    &.mat-form-field-select {
        font-size: 6px;
    }
    .mat-form-field-infix input, .mat-form-field-infix mat-select, .mat-form-field-suffix, .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
        font-size: 13px;
    }    
    // .mat-form-field-outline-start, .mat-form-field-outline-end {
    //    //  border-radius: 0;
    // } 
    .mat-form-field-infix { 
        padding-left: 1em;
    }
    .mat-form-field-wrapper {
        margin:0;
        padding-bottom: 0;
    }

    .mat-form-field-subscript-wrapper {
        padding: 0 1em;
        margin-top: 2em;
        font-size: 12px;
    }
}
}

::ng-deep mat-list-item.mat-list-item .mat-list-item-content {
    // border-bottom: 1px solid #ccc;
    justify-content: space-between;
    padding: 0;
}

::ng-deep mat-slide-toggle {

.mat-slide-toggle-thumb {
    height: 14px;
    width: 14px; 
}

.mat-slide-toggle-thumb-container {
    width: 12px;
    height: 11px;
    top: -2px;
}
&.mat-checked .mat-slide-toggle-bar {
    // background-color: rgba(255,64,129,.54);
    background-color: #54c9e8;   
    background-color: #fe4a5d;
}

&.mat-checked .mat-slide-toggle-thumb {
    //background-color: #ff4081;
    background-color: #00a8e2;
    background-color: #c20430;
}
&.mat-checked .mat-ripple-element {
    background-color: #96d5ea !important;
    background-color: #ff828a !important;
  }

.mat-slide-toggle-bar {    
    width: 29px;
    height: 11px;
}




}

}
